.elementor-33978 .elementor-element.elementor-element-470e952d > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-33978 .elementor-element.elementor-element-470e952d > .elementor-element-populated {
    padding: 64px 00px 64px 0px;
}

.elementor-33978 .elementor-element.elementor-element-196a9ab2 > .elementor-container {
    max-width: 1140px;
}

.elementor-33978 .elementor-element.elementor-element-196a9ab2 {
    margin-top: 0px;
    margin-bottom: 23px;
}

.elementor-33978 .elementor-element.elementor-element-28f7646 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-33978 .elementor-element.elementor-element-28f7646 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-33978 .elementor-element.elementor-element-5a1e54a6 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Inter", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 32px;
    letter-spacing: 1.6px;
}

.elementor-33978 .elementor-element.elementor-element-5a1e54a6 > .elementor-widget-container {
    margin: 0px 0px 32px 0px;
}

.elementor-33978 .elementor-element.elementor-element-46455430 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-33978 .elementor-element.elementor-element-46455430 > .elementor-element-populated {
    border-style: solid;
    border-color: #006895;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-33978 .elementor-element.elementor-element-46455430 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-33978 .elementor-element.elementor-element-2453bd79 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Inter", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 32px;
    letter-spacing: 1.6px;
}

.elementor-33978 .elementor-element.elementor-element-2453bd79 > .elementor-widget-container {
    margin: 0px 0px 32px 0px;
}

.elementor-33978 .elementor-element.elementor-element-551e91c3 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Inter", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 32px;
    letter-spacing: 1.6px;
}

.elementor-33978 .elementor-element.elementor-element-551e91c3 > .elementor-widget-container {
    margin: 0px 0px 32px 0px;
}

.elementor-33978 .elementor-element.elementor-element-2d79fca0 > .elementor-container {
    max-width: 1140px;
}

.elementor-33978 .elementor-element.elementor-element-2d79fca0 > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-33978 .elementor-element.elementor-element-321850c4 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-33978 .elementor-element.elementor-element-321850c4 > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-33978 .elementor-element.elementor-element-422428e9.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-33978 .elementor-element.elementor-element-422428e9.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-33978 .elementor-element.elementor-element-422428e9 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-33978 .elementor-element.elementor-element-422428e9 > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-33978 .elementor-element.elementor-element-1d0a10f3 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 24px;
    background-color: #FFFFFF00;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#elementor-popup-modal-33978 .dialog-message {
    width: 100%;
    height: auto;
}

#elementor-popup-modal-33978 {
    justify-content: center;
    align-items: flex-end;
}

#elementor-popup-modal-33978 .dialog-widget-content {
    animation-duration: 1.2s;
    background-color: #002B47;
    box-shadow: 2px 8px 23px 3px rgba(0,0,0,0.2);
}

@media(max-width: 1024px) {
    .elementor-33978 .elementor-element.elementor-element-28f7646 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom:0px;
    }

    .elementor-33978 .elementor-element.elementor-element-28f7646 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-33978 .elementor-element.elementor-element-5a1e54a6 > .elementor-widget-container {
        margin: 0px 0px 16px 0px;
    }

    .elementor-33978 .elementor-element.elementor-element-46455430 > .elementor-element-populated {
        border-width: 0px 0px 1px 0px;
        margin: 0px 0px 24px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 24px 0px;
    }

    .elementor-33978 .elementor-element.elementor-element-551e91c3 > .elementor-widget-container {
        margin: 0px 0px 16px 0px;
    }

    .elementor-33978 .elementor-element.elementor-element-2d79fca0 {
        margin-top: 0px;
        margin-bottom: 24px;
    }

    .elementor-33978 .elementor-element.elementor-element-321850c4 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }
}

@media(max-width: 768px) {
    .elementor-33978 .elementor-element.elementor-element-470e952d > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom:0px;
    }

    .elementor-33978 .elementor-element.elementor-element-470e952d > .elementor-element-populated {
        padding: 24px 0px 24px 0px;
    }

    .elementor-33978 .elementor-element.elementor-element-196a9ab2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-33978 .elementor-element.elementor-element-28f7646 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-33978 .elementor-element.elementor-element-28f7646 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-33978 .elementor-element.elementor-element-5a1e54a6 .elementor-heading-title {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
    }

    .elementor-33978 .elementor-element.elementor-element-5a1e54a6 > .elementor-widget-container {
        margin: 0px 0px 16px 0px;
    }

    .elementor-33978 .elementor-element.elementor-element-46455430 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-33978 .elementor-element.elementor-element-46455430 > .elementor-element-populated {
        border-width: 0px 0px 1px 0px;
        margin: 0px 0px 24px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 24px 0px;
    }

    .elementor-33978 .elementor-element.elementor-element-551e91c3 .elementor-heading-title {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
    }

    .elementor-33978 .elementor-element.elementor-element-551e91c3 > .elementor-widget-container {
        margin: 0px 0px 16px 0px;
    }

    .elementor-33978 .elementor-element.elementor-element-2d79fca0 {
        margin-top: 0px;
        margin-bottom: 32px;
    }

    .elementor-33978 .elementor-element.elementor-element-422428e9 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }
}

@media(max-width: 1024px) and (min-width:769px) {
    .elementor-33978 .elementor-element.elementor-element-28f7646 {
        width:100%;
    }

    .elementor-33978 .elementor-element.elementor-element-321850c4 {
        width: 100%;
    }
}

/* Start custom CSS for heading, class: .elementor-element-5a1e54a6 */
@media screen and (min-width: 769px) {
    .elementor-33978 .elementor-element.elementor-element-5a1e54a6 {
        max-width: 245px;
    }
}

/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-28f7646 */
@media screen and (min-width: 1024px) {
    .elementor-33978 .elementor-element.elementor-element-28f7646 {
        width: 100%;
        max-width: 364px;
    }
}

/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-2453bd79 */
.elementor-33978 .elementor-element.elementor-element-2453bd79 {
    display: none;
}

/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-137fd74d */
.elementor-33978 .elementor-element.elementor-element-137fd74d .c-search-result {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

@media screen and (min-width: 1140px) {
    .elementor-33978 .elementor-element.elementor-element-137fd74d .c-search-result {
        flex-wrap: nowrap;
    }
}

/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-46455430 */
.elementor-33978 .elementor-element.elementor-element-46455430 {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .elementor-33978 .elementor-element.elementor-element-46455430 .elementor-widget-wrap {
        border: 0px;
        margin: 0;
        padding: 0;
    }
}

/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-196a9ab2 */
.elementor-33978 .elementor-element.elementor-element-196a9ab2 .elementor-container {
    padding: 0 24px;
    justify-content: space-between;
}

@media screen and (min-width: 1024px) {
    .elementor-33978 .elementor-element.elementor-element-196a9ab2 .elementor-container {
        flex-wrap: nowrap;
        gap: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .elementor-33978 .elementor-element.elementor-element-196a9ab2 .elementor-container {
        padding: 0;
    }
}

@media screen and (max-width: 1023px) {
    .elementor-33978 .elementor-element.elementor-element-196a9ab2 .elementor-container {
        flex-direction: column-reverse;
    }
}

/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-6841567c */
.elementor-33978 .elementor-element.elementor-element-6841567c .o-input--inline input {
    background: transparent;
    border-radius: 0;
    border-top: 0 !important;
    border: 1px solid #1068EB;
    padding: 2px;
    width: 100%;
    height: 40px;
    font-family: 'Inter';
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
}

.elementor-33978 .elementor-element.elementor-element-6841567c .o-input--inline {
    display: flex;
    align-items: center;
}

.elementor-33978 .elementor-element.elementor-element-6841567c .o-input--inline .o-button {
    background: transparent;
    border-radius: 0;
    border: 1px solid #fff;
    height: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    width: 100%;
    max-width: 108px;
    justify-content: center;
    gap: 4px;
}

.elementor-33978 .elementor-element.elementor-element-6841567c .o-input--inline .o-button img {
    width: 21px;
    height: 11px;
}

@media screen and (max-width: 768px) {
    .elementor-33978 .elementor-element.elementor-element-6841567c .o-input--inline .o-button {
        min-width: 35px;
        max-width: 35px;
        height: 40px;
    }

    .elementor-33978 .elementor-element.elementor-element-6841567c .o-input--inline .o-button span {
        display: none;
    }

    .elementor-33978 .elementor-element.elementor-element-6841567c .o-input--inline .o-button img {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .elementor-33978 .elementor-element.elementor-element-6841567c .o-input--inline input {
        max-width: 448px;
    }
}

/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-1d0a10f3 */
.elementor-33978 .elementor-element.elementor-element-1d0a10f3 svg {
    width: 20px;
    height: 20px;
}

.elementor-33978 .elementor-element.elementor-element-1d0a10f3 a.elementor-button-link:hover .elementor-button-text {
    border-bottom: 1px solid #FFF;
}

.elementor-33978 .elementor-element.elementor-element-1d0a10f3 a.elementor-button-link .elementor-button-text {
    border-bottom: 1px solid transparent;
}

/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-2d79fca0 */
.elementor-33978 .elementor-element.elementor-element-2d79fca0 .elementor-container {
    padding: 0 24px;
    justify-content: space-between;
}

@media screen and (min-width: 1280px) {
    .elementor-33978 .elementor-element.elementor-element-2d79fca0 .elementor-container {
        padding: 0;
    }
}

/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-470e952d */
@media screen and (max-width: 1023px) {
    .elementor-33978 .elementor-element.elementor-element-470e952d > .elementor-widget-wrap {
        flex-direction: column-reverse;
    }
}

/* End custom CSS */
/* Start custom CSS */
#elementor-popup-modal-33978 .dialog-message.dialog-lightbox-message {
    max-height: 575px;
    height: auto;
}

/* End custom CSS */
